body {
    background: lightseagreen;
    text-align: center;
}

#board {
    margin: 50px auto;
    margin-bottom: 20px;
}

.row {
    margin: 3px;
}

.cell {
    margin: 5px;
    border: 1px solid black;
    height: 100px;
    width: 100px;
    display: inline-block;
    vertical-align: middle;
    font: 50px arial, sans-serif;
    line-height: 100px;
}

#winner-area {
    margin: 50px;
    height: 40px;
    font: 25px arial, sans-serif;
    color: blue;
}

#reset-button {
    margin-bottom: 15px;
    width: 100px;
    height: 30px;
    background: white;
}

#scorebar, #player-name-area {
    margin: 0 auto;
    width: 50%;
    height: 30px;
    font: 25px arial, sans-serif;
    color: blue;
}

.left {
    float: left;
}

.right {
    float: right;
}
