body {
    background: rgb(10, 125, 120);
    text-align: center;
    font: 30px 'Montserrat', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px black;
}

#board {
    margin: 50px auto;
    margin-bottom: 20px;
}

.row {
    margin: 0px;
}

.square {
    margin: 0px;
    border: 2px solid black;
    height: 100px;
    width: 100px;
    display: inline-block;
    vertical-align: middle;
    font-size: 75px;
    line-height: 100px;
    color: black;
    text-shadow: 0 0 0;
    background:  rgb(60, 200, 195);
}

.square:hover {
    background:  rgb(0, 255, 229);
}

#headline {
    margin: 50px;
    height: 40px;
}

#reset-button {
    margin-bottom: 15px;
    width: 150px;
    height: 30px;
    background:  rgb(150, 200, 195);
    font: 15px 'Montserrat', sans-serif;
    outline: none;
}

#reset-button:hover {
    background:  rgb(115, 200, 195);
}

#reset-button:active {
    background:  rgb(45, 200, 195);
}

#scorebar, #player-name-area {
    margin: 0 auto;
    width: 50%;
    height: 40px;
}

.left {
    float: left;
}

.right {
    float: right;
}
