.square {
  display: inline-block;
  height: 80px;
  width: 80px;
  margin: 0;
}

.board .square {
  background-color: blue;
}

.red, .yellow, .blank, .arrow {
  height: 60px;
  width: 60px;
  margin: 8px;
  border: 1px dotted black;
  border-radius: 40px;
}

.board .red {
 background-color: red;
}

.board .yellow {
  background-color: yellow;
}

.board .blank {
  background-color: white;
}

.droparea .drop-red:hover {
  background-color: red;
}

.droparea .drop-yellow:hover {
  background-color: yellow;
}

.row {
  margin: 0;
  height: 80px;
}

.message {
  font: bold 30px Georgia, serif;
  color: black;
}